{% extends "layout.html" %}
{% block body %}
<h3>Election Monitoring<hr/></h3>
<p>
	<a href="http://en.wikipedia.org/wiki/Election_monitoring">Election monitoring</a> is the observation of an election by one or more independent parties, typically from another country or a non-governmental organization (NGO), primarily to assess the conduct of an election process on the basis of national legislation and international election standards. 
</p>
<p>
	This Application Programming Interface (API) gives software developers access to election monitoring data collected by various organizations specialised in observing Kosovo's electoral process. 
</p>
<p>
	We care about sharing and improvements so the software behind this API is free and open under the <a href="http://www.gnu.org/licenses/gpl-2.0.html">GNU GPL v2.0</a> license. Anyone who distributes the code or a derivative work is required to make the source available under the same terms.
</p>


<br/>

<h3>Data<hr/></h3>
<p>
	Currently, you can use this API to access Kosovo's 2013 local and 2014 general elections observations collected by <a href="http://www.demokracianeveprim.org/en/">Democracy in Action</a> (DiA).
</p>

<br/>

<h3>Disclaimer<hr/></h3>
<p>
	This API is an <a href="http://en.wiktionary.org/wiki/alpha_version">alpha version</a>. This means that it is still under development and may be subject to bugs. You can help by <a href="mailto:info@opendatakosovo.org"/>contacting us</a> to report issues or contribute fixes and improvements to the <a href="https://github.com/opendatakosovo/election-monitoring-api">code base</a>.
</p>

<br/>


<h3>Getting Data<hr/></h3>

<p>
	Retrieving data from the API is done through <a href="http://en.wikipedia.org/wiki/Representational_state_transfer">RESTful</a> HTTP GET Requests.
</p>

<p>
	The directory structure of the GET requests typically follow the following pattern:<br/>
	http://opendatakosovo.org/api/election-monitoring/<font>&lt;monitoring-organization&gt;</font>/<font>&lt;data-identifier&gt;</font>/<font>&lt;election-year&gt;</font>/<font>&lt;election-type&gt;</font>/<font>&lt;election-round&gt;</font>/<font>&lt;commune-slug&gt;</font>/<font>&lt;voting-center-slug&gt;</font>/<font>&lt;station-number&gt;</font>
</p>

<br>

<p>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
		<tr>
		  <th>Directory</th>
		  <th>Value</th> 
		</tr>
		</thead>
		<tbody>
		<tr>
			<td><strong>monitoring-organization</strong></td>
			<td>
				A string identifying which organization we want to access data from.
				The options are:<br/>
				<ul>
					<li>dia &#8211; Democracy in Action</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td><strong>data-identifier</strong></td>
			<td>
				The type of data we want to retrive.<br/>
				For DiA, the options are:<br/>
				<ul>
					<li>voting-centers &#8211; voting center data.</li>
					<li>observations &#8211; Observation data.</li>
					<li>psc-members-gender-distribution &#8211; PSC members gender distribution data.</li>
					<li>hour-vote-count &#8211; Cast ballot count at pre-determined hours.</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td><strong>election-year</strong></td>
			<td>A four digit value representing the election year. e.g. '2014'.</td>
		</tr>
		<tr>
			<td><strong>election-type</strong></td>
			<td>
				The election type.<br/>
				The options are:<br/>
				<ul>
					<li>local-elections &#8211; Local elections.</li>
					<li>general-elections &#8211; General elections.</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td><strong>election-round</strong></td>
			<td>
				The election round.<br/>
				The options are:<br/>
				<ul>
					<li>first-round &#8211; First round of elections.</li>
					<li>second-round &#8211; Second round of elections.</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td><strong>cummune-slug</strong></td>
			<td>A slug representation of the commune name. e.g. 'fushe-kosova'.</td>
		</tr>
		<tr>
			<td><strong>polling-station-slug</strong></td>
			<td>A slug representation of the voting station name. e.g. 'mihal-graneno'.</td>
		</tr>
		<tr>
			<td><strong>station-number</strong></td>
			<td>The station number of the voting center.</td>
		</tr>
		</tbody>
	</table>
</p>

<br>

<h3>Searching the DiA's dataset</h3>
<p>
	The directory structure of the GET requests follows the following pattern:<br/>
	http://opendatakosovo.org/api/election-monitoring/<font>&lt;monitoring-organization&gt;</font>/search/<font>&lt;election-year&gt;</font>/<font>&lt;election-type&gt;</font>/<font>&lt;election-round&gt;</font>/?<font>&lt;searc_param_key&gt;=&lt;searc_param_value&gt;</font>
</p>

<p>
	The possible values for the URL directories are the same as those elaborated previously.<br>
	The possible values for the URL query string parameters are the following:
</p>

<br/>

<p>
	<table class="table table-striped table-bordered table-condensed">
		<thead>
		<tr>
		  <th>Search Parameter Key</th>
		  <th>Search Parameter Value</th> 
		</tr>
		</thead>
		<tbody>
		<tr>
			<td><strong>commune</strong></td>
			<td>A slug representation of the commune name. e.g. 'fushe-kosova'.</td>
		</tr>
		<tr>
			<td><strong>voting-center</strong></td>
			<td>A slug representation of the voting center name. e.g. 'mihal-graneno'.</td>
		</tr>
		<tr>
			<td><strong>ultra-violet-control</strong></td>
			<td>
				How frequent were voters controlled with utra violet.<br/>
				The options are:<br/>
				<ul>
					<li>always</li>
					<li>sometimes</li>
					<li>rarely</li>
					<li>never</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td><strong>finger-sprayed</strong></td>
			<td>
				How frequent were voters' fingers sprayed.<br/>
				The options are:<br/>
				<ul>
					<li>always</li>
					<li>sometimes</li>
					<li>rarely</li>
					<li>never</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td><strong>missing-voting-booth</strong></td>
			<td>
				Indicate whether voting cabins were missing.<br/>
				The options are:<br/>
				<ul>
					<li>true</li>
					<li>false</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td><strong>missing-ballot-box</strong></td>
			<td>
				Indicate whether ballot boxes were missing.<br/>
				The options are:<br/>
				<ul>
					<li>true</li>
					<li>false</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td><strong>missing-ballots</strong></td>
			<td>
				Indicate whether ballots were missing.<br/>
				The options are:<br/>
				<ul>
					<li>true</li>
					<li>false</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td><strong>missing-poll-book</strong></td>
			<td>
				Indicate whether poll books were missing.<br/>
				The options are:<br/>
				<ul>
					<li>true</li>
					<li>false</li>
				</ul>
			</td>
		</tr>
		<tr>
			<td><strong>missing-uv-lamp</strong></td>
			<td>
				Indicate whether UV lamps were missing.<br/>
				The options are:<br/>
				<ul>
					<li>true</li>
					<li>false</li>
				</ul>
			</td>
		</tr>
		</tbody>
	</table>
</p>

<br/>

<h3>Sample Requests<hr/></h3>
<h4>Getting data collected by DiA</h4>

<p>
	<strong>Get polling stations grouped by commune:</strong></br>
	<a href="{{ config.BASE_PATH }}/dia/voting-centers/2013/local-elections/first-round">{{ config.BASE_PATH }}/dia/voting-centers/2013/local-elections/first-round</a>
</p>

<p>
	<strong>Get observations for a given commune:</strong></br>
	<a href="{{ config.BASE_PATH }}/dia/observations/2013/local-elections/first-round/ferizaj">{{ config.BASE_PATH }}/dia/observations/2013/local-elections/first-round/ferizaj</a>
</p>

<p>
	<strong>Get observations for a given commune and polling station:</strong></br>
	<a href="{{ config.BASE_PATH }}/dia/observations/2013/local-elections/first-round/ferizaj/zaskok">{{ config.BASE_PATH }}/dia/observations/2013/local-elections/first-round/ferizaj/zaskok</a>
</p>

<p>
	<strong>Get observations for a given commune, polling station, and room number:</strong></br>
	<a href="{{ config.BASE_PATH }}/dia/observations/2013/local-elections/first-round/ferizaj/zaskok/03D">{{ config.BASE_PATH }}/dia/observations/2013/local-elections/first-round/ferizaj/zaskok/03D</a>
</p>

<p>
	<strong>Get KVV members gender distribtion for a given commune:</strong></br>
	<a href="{{ config.BASE_PATH }}/dia/psc-members-gender-distribution/2013/local-elections/first-round/ferizaj">{{ config.BASE_PATH }}/dia/psc-members-gender-distribution/2013/local-elections/first-round/ferizaj</a>
</p>

<p>
	<strong>Get KVV members gender distribtion for a given commune and polling station:</strong></br>
	<a href="{{ config.BASE_PATH }}/dia/psc-members-gender-distribution/2013/local-elections/first-round/ferizaj/zaskok">{{ config.BASE_PATH }}/dia/psc-members-gender-distribution/2013/local-elections/first-round/ferizaj/zaskok</a>
</p>

<p>
	<strong>Get KVV members gender distribtion for a given commune, polling station, and room number:</strong></br>
	<a href="{{ config.BASE_PATH }}/dia/psc-members-gender-distribution/2013/local-elections/first-round/ferizaj/zaskok/03D">{{ config.BASE_PATH }}/dia/psc-members-gender-distribution/2013/local-elections/first-round/ferizaj/zaskok/03D</a>
</p>

<p>
	<strong>Get votes count for given commune:</strong></br>
	<a href="{{ config.BASE_PATH }}/dia/hour-vote-count/2013/local-elections/first-round/ferizaj">{{ config.BASE_PATH }}/dia/hour-vote-count/2013/local-elections/first-round/ferizaj</a>
</p>

<p>
	<strong>Get votes count for given commune and polling station:</strong></br>
	<a href="{{ config.BASE_PATH }}/dia/hour-vote-count/2013/local-elections/first-round/ferizaj/zaskok">{{ config.BASE_PATH }}/dia/hour-vote-count/2013/local-elections/first-round/ferizaj/zaskok</a>
</p>

<p>
	<strong>Get votes count for given commune, polling station, and room number:</strong></br>
	<a href="{{ config.BASE_PATH }}/dia/hour-vote-count/2013/local-elections/first-round/ferizaj/zaskok/03D">{{ config.BASE_PATH }}/dia/hour-vote-count/2013/local-elections/first-round/ferizaj/zaskok/03D</a>
</p>

<br><br>
<h4>Searching data collected by DiA</h4>
<p>
	<strong>Get observations collected from the "11 Marsi" voting center in Prizren:</strong></br>
	<a href="{{ config.BASE_PATH }}/dia/search/2013/local-elections/first-round/?commune=prizren&voting-center=11-marsi">{{ config.BASE_PATH }}/dia/search/2013/local-elections/first-round/?commune=prizren&voting-center=11-marsi</a>
</p>

<p>
	<strong>Get observations collected from the "11 Marsi" voting center in Prizren where UV lamps and ballots boxes were missing:</strong></br>
	<a href="{{ config.BASE_PATH }}/dia/search/2013/local-elections/first-round/?commune=prizren&voting-center=11-marsi&missing-uv-lamp=true&missing-ballot-box=true">{{ config.BASE_PATH }}/dia/search/2013/local-elections/first-round/?commune=prizren&voting-center=11-marsi&missing-uv-lamp=true&missing-ballot-box=true</a>
</p>

<p>
	<strong>Get observations collected from the "11 Marsi" voting center in Prizren where voters' fingers where always sprayed and UV lamps were missing:</strong></br>
	<a href="{{ config.BASE_PATH }}/dia/search/2013/local-elections/first-round/?commune=prizren&voting-center=11-marsi&finger-sprayed=always&missing-uv-lamp=true">{{ config.BASE_PATH }}/dia/search/2013/local-elections/first-round/?commune=prizren&voting-center=11-marsi&finger-sprayed=never&missing-uv-lamp=true</a>
</p>


<br/></br>
{% endblock %}
