<!doctype html>
<html>
	<head>
		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='jQuery/jquery-1.11.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
		
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">

		<title>Kosovo Election Monitoring Data API</title>
	</head>

	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand">Kosovo Election Monitoring Data API &#8211; &#945;lph&#945;</a>
				</div>

				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="https://github.com/opendatakosovo/election-monitoring-api" target="_blank">Source Code</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			{% block body %}{% endblock %}
		</div>

		<div class="push-for-footer"></div>

		<div class="footer">
			<div class="footer-container" align="center">
				<p class="text-muted">
					<br/>Made in Kosovo by <a href="http://assemblio.com" target="_blank">Assemblio LLC</a> and <a href="http://opendatakosovo.org" target="_blank">Open Data Kosovo</a>.
					<br/>Source code available on <a href="https://github.com/opendatakosovo/election-monitoring-api" target="_blank">GitHub</a>.
					<br/>
				</p>
			</div>
		</div>
	</body>

</html>
